/* .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
   */


   .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .error-message {
    color: red;
    margin-top: 16px;
  }
  