<!-- <div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div> -->


<div class="login-container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required email #emailCtrl="ngModel">
      <mat-error *ngIf="emailCtrl.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="emailCtrl.errors?.['email']">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password" required minlength="4" #passwordCtrl="ngModel">
      <mat-error *ngIf="passwordCtrl.errors?.['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="passwordCtrl.errors?.['minlength']">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
