.account-update-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    width: 100%;
    margin-top: 16px;
  }
  

  .success-message-container {
    background-color: #d4edda;
    color: #155724; 
    padding: 10px;
    margin-bottom: 16px; 
    margin-top: 16px;
    border-radius: 4px; 
  }
  
  .success-message {
    font-size: 16px;
  }
  